$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$cerulean: #065471;
$pasel: #fbbe45;
$aztec: #b7a051;
$camo: #7a865b;

a {
  color: $pasel;
}

a:hover {
  color: $camo;
}


body {
  background-color: $cerulean;
  background-image: 
  color: $pasel;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $pasel;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $camo;
}

.flash-warning {
  background-color: $camo;
}

.flash-error {
  background-color: $camo;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    color: $pasel;
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

* {
  font-family: 'Happy Monkey', cursive;
}
